@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/forum/v16/6aey4Ky-Vb8Ew_IW.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Forum';
  font-style: normal;
  background: url("/public/img/bg.png") repeat-y;
  background-size: 100%;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-around;
}
.header-count {
  border: 1px solid;
  border-radius: 50%;
  display: block;
  width: 15px;
  line-height: 1rem;
  font-size: 16px;
  left: 97px;
  top: 18px;
  text-align: center;
  position: absolute;
  background: #FFF;
  z-index: 1;
}
.header-logo {
  flex-basis: 30%;
}
.header-logo img {
  transition: transform 0.5s ease;
}
.header-logo img:hover {
  transform: scale(1.2);
}
.header-menu {
  flex-basis: 30%;
}
.header-menu ul {
  list-style: none;
}
.header-menu ul li {
  float: left;
  margin-left: 8%;
}
.header-menu ul li img {
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.header-menu ul li img:hover {
  transform: scale(1.2);
}
.header-menu ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #253030;
  transition: color 0.5s ease;
}
.header-menu ul li a:hover {
  color: #B2B2B2;
}
.main {
  padding: 0 50px;
}
.performance {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
  padding-bottom: 240px;
}
.performance-title h2 {
  font-weight: 400;
  font-size: 75px;
  color: #253030;
}
.performance-title h3 {
  font-weight: 400;
  font-size: 48px;
  color: #253030;
}
.performance-title button {
  margin-top: 55px;
  background-color: #7DB8C2;
  padding: 28px 120px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 36px;
  color: #F6F6F6;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.performance-title button:hover {
  background-color: #B2B2B2;
}
.performance-info ul {
  list-style-type: '> ';
}
.performance-info ul li {
  font-weight: 400;
  font-size: 32px;
  color: #253030;
}
.info {
  padding-bottom: 200px;
}
.info h2 {
  margin-top: 130px;
  font-weight: 400;
  font-size: 48px;
  color: #253030;
  text-align: center;
}
.info-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info-text-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 130px;
}
.info-text-item p {
  display: inline-block;
  font-weight: 400;
  font-size: 120px;
  line-height: 132px;
  color: #253030;
}
.info-text-item span {
  font-weight: 400;
  font-size: 28px;
  padding-left: 10px;
  width: 70%;
}
.slider-item {
  display: flex !important;
  align-items: center;
}
.products {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 250px;
}
.products-category {
  margin-top: 110px;
}
.products-category a {
  font-weight: 400;
  font-size: 40px;
  color: #253030;
  text-decoration: none;
}
.products-category span {
  font-weight: 400;
  font-size: 40px;
  color: #253030;
  margin-top: 30px;
  display: block;
}
.products-category .ligth {
  color: #B2B2B2;
}
.products-slider {
  margin-top: 30px;
}
.products-info {
  display: flex !important;
  flex-direction: column;
  min-height: 400px;
  width: 50% !important;
  background-color: #F6F6F6;
  padding-left: 50px;
}
.products-info span {
  font-weight: 400;
  font-size: 32px;
  color: #253030;
  margin-top: 60px;
  width: 100%;
}
.products-info p {
  font-weight: 400;
  font-size: 20px;
  margin-top: 25px;
  color: #253030;
  width: 100%;
}
.products-info img {
  margin-top: 20px;
  width: 120px;
}
.products-info-button button {
  margin-top: 40px;
  background-color: #7DB8C2;
  padding: 18px 70px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  color: #F6F6F6;
  transition: background-color 0.5s ease;
}
.products-info-button button:hover {
  background-color: #B2B2B2;
}
.products-info-button span {
  padding-left: 20%;
}
.products-info-photo {
  width: 50%;
}
.products-info-photo img {
  width: 100%;
  margin-right: 10%;
}
.shoppingCart {
  width: 60%;
  margin: 100px auto;
  background-color: #F6F6F6;
  padding: 25px;
}
.shoppingCart h2 {
  font-weight: 400;
  font-size: 32px;
  color: #253030;
  padding-top: 50px;
  text-align: center;
}
.shoppingCart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
  margin-top: 20px;
}
.shoppingCart-item p {
  font-weight: 400;
  font-size: 24px;
  color: #253030;
  width: 5%;
}
.shoppingCart-item span {
  font-weight: 400;
  font-size: 24px;
  color: #253030;
  width: 50%;
}
.shoppingCart-item img {
  padding-left: 10px;
  width: 10%;
}
.shoppingCart input {
  margin-top: 50px;
  margin-left: 20px;
  padding: 6px 30px;
  border: 1px solid #485C5C;
  border-radius: 2px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #B2B2B2;
}
.shoppingCart input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #B2B2B2;
}
.shoppingCart-out {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.shoppingCart-out span {
  display: block;
  font-weight: 400;
  font-size: 24px;
  color: #253030;
}
.shoppingCart-out button {
  background-color: #7DB8C2;
  padding: 8px 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  color: #F6F6F6;
  transition: background-color 0.5s ease;
}
.shoppingCart-out button:hover {
  background-color: #B2B2B2;
}
.footer {
  height: 240px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-icons img {
  padding: 0 10px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.footer-icons img:hover {
  transform: scale(1.2);
}
.slick-prev:before,
.slick-next:before {
  color: #B2B2B2;
}
.notifierContainer.info {
  background-color: #7DB8C2 !important;
}
.notifierContainer {
  margin-top: 50px !important;
  margin-right: 50px !important;
}
.alert {
  font-size: 18px;
  font-weight: 400;
  color: #F6F6F6;
}
.alert a {
  display: block;
  color: #000;
}
.chanche_quanity button {
  width: 30px;
  background-color: #7DB8C2;
  border-radius: 10px;
  height: 30px;
  border: none;
  margin: 0 10px;
  color: #F6F6F6;
  font-size: 18px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.chanche_quanity button:hover {
  background-color: #B2B2B2;
}
.chanche_quanity input {
  width: 10px;
  padding: 5px 10px;
  margin: 0;
  border-radius: 10px;
}
.trash {
  color: #e54c4c;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.trash:hover {
  transform: scale(1.2);
}
.modal-visible {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  animation: show_vis 1s;
}
.modal-visible:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.modal-content {
  vertical-align: middle;
  position: relative;
  z-index: 2;
  min-height: 500px;
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: left;
  display: inline-block;
  animation: show 1s;
}
.modal-content .close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.modal-content .close:hover {
  transform: scale(1.2);
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show_vis {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */